/* 5. Product Section : thực hiện style Produc */


/* PHẦN Menu Mobile */


/* nav mobile */

.nav-mobile {
    display: none;
}

.nav-mobile .icon-mobile {
    padding: .5rem;
    font-size: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none;
}

.nav-mobile .item_menu {
    background: #f1df11;
    position: absolute;
    top: 100%;
    width: 100%;
    display: none;
    padding-bottom: 1rem;
}

.item_menu ul li a {
    color: #43433e;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.05rem;
}

.item_menu ul li a:hover {
    color: #fff;
}

.item_menu form {
    margin: 0 1rem;
    position: relative;
}

.item_menu form input {
    width: 100%;
    border: none;
    background: #fff;
    padding: 7px;
    outline: none;
    border-radius: 12px;
}

.item_menu form button {
    padding: 5px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 2px;
    border: none;
    outline: none;
    background: #fff;
}


/* End Header mobile  */


/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-body {
    padding: 1rem;
}

.modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
}

.modal-footer>:not(:first-child) {
    margin-left: .25rem;
}

.btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}

.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
}

h5.modal-title {
    font-size: 1.5rem;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#cart {
    font-size: 15px;
    color: #fff;
    background: #c7b200;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
}

#cart:hover {
    border-color: #fff;
}


/* ======================================== ============PHẦN CONTENT PRODUCT  =============================================================*/


/* wrapper =========
======================================5.section  Phần Product =================================================*/

.wrapper {
    padding: 2rem;
}

.products ul {
    display: inline-block;
}

.products ul .main-product {
    margin-bottom: 2rem;
    margin-right: 1rem;
    display: block;
    float: left;
    width: 24%;
}

.products ul .no-margin {
    margin-right: 0;
}

.products ul .img-product img {
    width: 100%;
}

.content-product .content-product-h3 {
    padding: .5rem 0;
    overflow: hidden;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    max-height: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 19px;
    margin: 0 0 5px;
}

.content-product .content-product-deltals {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.main-product .content-product .content-product-deltals .price {
    color: #c7b200;
    font-weight: 700;
    margin-right: 1rem;
    vertical-align: middle;
    font-size: 20px;
}

.content-product .content-product-deltals .price .money {
    vertical-align: middle;
}

.content-product .content-product-deltals .btn-cart {
    background: #f1df11;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}

.content-product .content-product-deltals .btn-cart:hover {
    background: #c7b200;
}


/*---------------------
  5.Section Product
-----------------------*/

.parallax {
    /* The image used */
    background-image: url("../img/banner/banner-1.jpg");
    /* Full height */
    /* height: 50%; */
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 5em !important;
}

.parallax_Men {
    /* The image used */
    background-image: url("../img/banner/banner-2.jpg");
    /* Full height */
    /* height: 50%; */
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 5em !important;
}

.parallax_Girl {
    /* The image used */
    background-image: url("../img/banner/banner-3.jpg");
    /* Full height */
    /* height: 50%; */
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 5em !important;
}

.product {
    padding-top: 15px;
    padding-bottom: 15px;
}

.filter__controls {
    text-align: right;
    margin-bottom: 50px;
}

.filter__controls li {
    font-size: 14px;
    list-style: none;
    display: inline-block;
    color: #111111;
    margin-right: 35px;
    position: relative;
    cursor: pointer;
}

.filter__controls li.active:after {
    opacity: 1;
}

.filter__controls li:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 100%;
    background: #ca1515;
    content: "";
    opacity: 0;
}

.filter__controls li:last-child {
    margin-right: 0;
}

.product__item {
    margin-bottom: 35px;
    border: 1px solid #83837b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    /* margin: 0px; */
}

.product__item:hover {
    color: rgb(247, 139, 139);
    -webkit-border-radius: 6px;
    border-bottom: 2px solid #fa381a;
}

.product__hover:hover .product__hover li {
    opacity: 1;
    top: 0;
}

.product__item.sale .product__item__pic .label {
    background: #ca1515;
}

.product__item.sale .product__item__text .product__price {
    color: #ca1515;
}

.product__item__pic {
    height: 360px;
    position: relative;
    overflow: hidden;
}

.product__item__pic .label {
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    padding: 2px 8px;
    text-transform: uppercase;
    position: absolute;
    left: 10px;
    top: 10px;
}

.product__item__pic .label.new {
    background: #36a300;
}

.product__item__pic .label.stockout {
    background: #111111;
}

.product__item__pic .label.stockblue {
    background: #0066bd !important;
}

.product__item__pic .label.sale {
    background: #ca1515;
}

.product__hover {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 30px;
    text-align: center;
}

.product__hover li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 100px;
    opacity: 0;
}

.product__hover li:nth-child(1) {
    -webkit-transition: all 0.4s ease 0.1s;
    -o-transition: all 0.4s ease 0.1s;
    transition: all 0.4s ease 0.1s;
}

.product__hover li:nth-child(2) {
    -webkit-transition: all 0.4s ease 0.15s;
    -o-transition: all 0.4s ease 0.15s;
    transition: all 0.4s ease 0.15s;
}

.product__hover li:nth-child(3) {
    -webkit-transition: all 0.4s ease 0.2s;
    -o-transition: all 0.4s ease 0.2s;
    transition: all 0.4s ease 0.2s;
}

.product__hover li:last-child {
    margin-right: 0;
}

.product__hover li:hover a {
    background: #ca1515;
}

.product__hover li:hover a span {
    color: #ffffff;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.product__hover li a {
    font-size: 18px;
    color: #111111;
    display: block;
    height: 45px;
    width: 45px;
    background: #ffffff;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.product__hover li a span {
    position: relative;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    display: inline-block;
}

.product__item__text {
    text-align: center;
    padding-top: 22px;
}

.product__item__text h6 a {
    font-size: 14px;
    color: #111111;
}

.product__item__text .rating {
    line-height: 18px;
    margin-bottom: 5px;
}

.product__item__text .rating i {
    font-size: 10px;
    color: #e3c01c;
    margin-right: -4px;
}

.product__item__text .rating i:last-child {
    margin-right: 0;
}

.product__item__text .product__price {
    color: #111111;
    font-weight: 600;
}

.product__item__text .product__price span {
    font-size: 14px;
    color: #b1b0b0;
    text-decoration: line-through;
    margin-left: 4px;
}


/* ===========================================================CONTENT MOBILE 240 480 768 ===============================*/


/*mobile*/

@media only screen and (min-width:240px) and (max-width:480px) {
    /* nav */
    nav .content-nav {
        display: none;
    }
    nav {
        position: fixed !important;
        top: 0px;
        left: 0;
        width: 100%;
        display: flex;
        padding: 0;
    }
    .nav-mobile {
        display: flex;
    }
    .img-nav {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .img-nav img {
        padding-top: 0.5rem;
        vertical-align: middle;
        width: 90%;
    }
    .content-nav,
    .item_menu form button {
        right: 10px;
    }
    /* wrapper */
    .wrapper {
        padding: 1rem;
    }
    .products {
        margin-top: 3rem;
    }
    .products ul .main-product {
        width: 100%;
    }
    /* modal */
    .modal-content {
        width: 95%;
    }
    .cart-item-title {
        font-size: 0.6em;
    }
    .cart-column {
        margin-right: 0.5em;
    }
    .cart-price {
        margin-right: 1rem;
    }
    #cart {
        margin: .5rem;
        padding: 3px;
    }
}


/*tablet*/

@media (min-width:480px) and (max-width:768px) {
    .wrapper {
        padding: 1.5rem;
    }
    .img-nav img {
        vertical-align: middle;
        width: 100%;
    }
    nav .content-nav ul li a {
        font-size: 12px;
        padding: 0px 8px;
    }
    nav .content-nav {
        width: 100%;
    }
    #cart {
        font-size: 12px;
        margin-left: 0.3rem;
        padding: 0;
    }
    .products ul .main-product {
        width: 31%;
    }
    .main-product .content-product .content-product-deltals .price {
        font-size: 18px;
    }
    .products ul .no-margin {
        margin-right: 1rem;
    }
    .cart-item-title {
        font-size: 0.5em;
    }
    .cart-column {
        margin-right: 0.5em;
    }
    .cart-price {
        margin-right: 1rem;
    }
}


/* =======================================================   FOOTER  ====================================*/

.footer-item {
    padding: .5rem 2rem;
    background: #f1df11;
    display: flex;
}

.footer-item .img-footer {
    align-items: center;
    display: flex;
}

.footer-item .img-footer img {
    width: 100%;
}

.footer-item .social-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.footer-item .social-footer li a {
    color: #000000;
    font-size: 2rem;
}

.footer-item .social-footer li:last-child {
    margin-left: .5rem;
}


/* PHẦN FOOTER */

.footer-item {
    padding: .5rem 2rem;
    background: #f1df11;
    display: flex;
}

.footer-item .img-footer {
    align-items: center;
    display: flex;
}

.footer-item .img-footer img {
    width: 100%;
}

.footer-item .social-footer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.footer-item .social-footer li a {
    color: #000000;
    font-size: 2rem;
}

.footer-item .social-footer li:last-child {
    margin-left: .5rem;
}


/* 5. Product Section : thực hiện style Produc */


/* KẾT THÚC PHẦN CONTENT  */


/* Thiết kế Css cho Mobile :480p và 768 */


/*tablet*/

@media (min-width:480px) and (max-width:768px) {
    .wrapper padding: 1.5rem;
}

.img-nav img {
    vertical-align: middle;
    width: 100%;
}

nav .content-nav ul li a {
    font-size: 12px;
    padding: 0px 8px;
}

nav .content-nav {
    width: 100%;
}

#cart {
    font-size: 12px;
    margin-left: 0.3rem;
    padding: 0;
}

.products ul .main-product {
    width: 31%;
}

.main-product .content-product .content-product-deltals .price {
    font-size: 18px;
}

.products ul .no-margin {
    margin-right: 1rem;
}

.cart-item-title {
    font-size: 0.5em;
}

.cart-column {
    margin-right: 0.5em;
}

.cart-price {
    margin-right: 1rem;
}


}