<div class="products">

    <div class="product_list">

        <!-- <div class="tab-pane container container_full_width--lg_down active" id="product-search-results" role="tabpanel" aria-expanded="true">
            Tìm kiếm
        </div>
        <div id="content-search-results " class="js-content_search_result row content-grid-header justify-content-center ">
            Tên modul
        </div> -->
        <div class="row flex-nowrap container-fluid">
            <!-- <lable> Hiện thị thông tin sản phẩm </lable> -->
            <!--  Hiển thị thông tin sản phẩm  -->

            <div class="ItemProdcuct">

                <ul>
                    <li ng-repeat="dpr in DataProducts" class="main-product ">
                        <div class="img-product ">
                            <img class="img-prd " src="img/4X6Mu.png" alt=" ">
                        </div>
                        <div class="content-product ">
                            <h3 class="content-product-h3 "> {{dpr.NameSP}}</h3>
                            <div class="content-product-deltals ">
                                <div class="price ">
                                    <span class="money ">{{dpr.Price}}</span>
                                </div>
                                <button type="button " class=" btn btn-cart " ng-click="read_input() ">Thêm Vào Giỏ</button>

                            </div>
                        </div>
                    </li>


                    <!-- <li class="main-product ">
                        <div class="img-product ">
                            <img class="img-prd " src="img/4X6Mu.png" alt=" ">
                        </div>
                        <div class="content-product ">
                            <h3 class="content-product-h3 ">Thời trang nam</h3>
                            <div class="content-product-deltals ">
                                <div class="price ">
                                    <span class="money ">25000đ</span>
                                </div>
                                <button type="button " class=" btn btn-cart " ng-click="read_input() ">Thêm Vào Giỏ</button>

                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
            <!--  Script thông tin sản phẩm lấy từ script  -->
            <script>
                //  var app = angular.module('myApp', []);
                app.controller('MenController',
                    function($scope, $http) {



                        // var request = {
                        //     method: 'get',
                        //     url: 'datapro.json',
                        //     dataType: 'json',
                        //     contentType: "application/json"
                        // };

                        // $scope.arrBirds = new Array;

                        // $http(request)
                        //     .success(function(jsonData) {
                        //         $scope.arrBirds = jsonData;
                        //         $scope.list = $scope.arrBirds;
                        //     })
                        //     .error(function() {

                        //     });



                        $scope.DataPro = [{
                                "Id": 00001,
                                "NameSP": "Hamburg Suites",
                                "Address": "An Der Alster 82",
                                "Description": "Only a few hundred meters from the city center, enjoy the energy of Hamburg each and every night of your stay in our hotel.",
                                "Content": "Nhập nội dung chi tiết vào đâu giới thiệu về sản phẩm",
                                "Discount": 10,
                                "Price": 299,
                                "Num": 55,
                                "size": [{
                                    "NoSiz": 33,
                                    "NoSiz": 34,
                                    "NoSiz": 35,
                                    "NoSiz": 36
                                }],
                                "color ": "vàng",
                                "Images ": [{
                                    "FileName": "250x250.png ",
                                }, {
                                    "FileName": "400x600.png",
                                }, {
                                    "FileName": "400x600.png",
                                    "widthRatio": 2,
                                    "heightRatio": 2
                                }, {
                                    "FileName": "1500x1500.png",
                                    "widthRatio": 2,
                                    "heightRatio": 2
                                }, {
                                    "FileName": "Bedroom-1-2.jpg",
                                }, {
                                    "FileName": "Bathroom-0.jpg",
                                }]
                            }, {
                                "Id": 00001,
                                "NameSP": "Hamburg Suites",
                                "Address": "An Der Alster 82",
                                "Description": "Only a few hundred meters from the city center, enjoy the energy of Hamburg each and every night of your stay in our hotel.",
                                "Content": "Nhập nội dung chi tiết vào đâu giới thiệu về sản phẩm",
                                "Discount": 10,
                                "Price": 299,
                                "Num": 55,
                                "size": [{
                                    "NoSiz": 33,
                                    "NoSiz": 34,
                                    "NoSiz": 35,
                                    "NoSiz": 36
                                }],
                                "color ": "vàng",
                                "Images ": [{
                                    "FileName": "250x250.png ",
                                }, {
                                    "FileName": "400x600.png",
                                }, {
                                    "FileName": "400x600.png",
                                    "widthRatio": 2,
                                    "heightRatio": 2
                                }, {
                                    "FileName": "1500x1500.png",
                                    "widthRatio": 2,
                                    "heightRatio": 2
                                }, {
                                    "FileName": "Bedroom-1-2.jpg",
                                }, {
                                    "FileName": "Bathroom-0.jpg",
                                }]
                            }

                        ];



                    });
            </script>
        </div>

    </div>
</div>