<!-- <script>
    app.controller('MenController', function($scope, $http) {
        $scope.datas = new Array;
        $http.get("datapro.json").then(function(response) {
            $scope.datas = JSON.parse(response);
        });
        $scope.DataProduct = $scope.datas;
    });
</script> -->

<div class="parallax ms-3    mt-3 p-6 bg-primary  text-white text-center">
    <h1>Giới thiệu sản phẩm thời trang </h1>
    <p> Live show fashion online </p>
</div>
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Products Men</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".women">BOSS’s</li>
                    <li data-filter=".men">Owen</li>
                    <li data-filter=".kid">DIOR</li>
                    <li data-filter=".accessories">VERSACE</li>
                    <li data-filter=".cosmetic">GUCCI</li>
                </ul>
            </div>
        </div>
        <div class="row property__gallery parallax_Men">
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" style="background-image: url('img/product/product-2.jpg');height: 50vh;">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li><a href="img/product/product-1.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                <div class="product__item">
                    <div class="product__item__pic set-bg" style="background-image: url('img/product/product-3.jpg');height: 50vh;">
                        <ul class="product__hover">
                            <li><a href="img/product/product-2.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix accessories">
                <div class="product__item">
                    <div class="product__item__pic set-bg" style="background-image: url('img/product/product-1.jpg');height: 50vh;">
                        <div class="label stockout">out of stock</div>
                        <ul class="product__hover">
                            <li><a href="img/product/product-3.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Cotton T-Shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cosmetic">
                <div class="product__item">
                    <div class="product__item__pic set-bg" style="background-image: url('img/product/product-4.jpg');height: 50vh;">
                        <ul class="product__hover">
                            <li><a href="img/product/product-4.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Slim striped pocket shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix kid">
                <div class="product__item">
                    <div class="product__item__pic set-bg" style="background-image: url('img/product/product-5.jpg');height: 50vh;">
                        <ul class="product__hover">
                            <li><a href="img/product/product-5.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Fit micro corduroy shirt</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                <div class="product__item sale">
                    <div class="product__item__pic set-bg" style="background-image: url('img/product/product-6.jpg');height: 50vh;">
                        <div class="label sale">Sale</div>
                        <ul class="product__hover">
                            <li><a href="img/product/product-6.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Tropical Kimono</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0 <span>$ 59.0</span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                <div class="product__item">
                    <div class="product__item__pic set-bg" style="background-image: url('img/product/product-7.jpg');height: 50vh;">
                        <ul class="product__hover">
                            <li><a href="img/product/product-7.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Contrasting sunglasses</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                <div class="product__item sale">
                    <div class="product__item__pic set-bg" style="background-image: url('img/product/product-1.jpg');height: 50vh;">
                        <div class="label">Sale</div>
                        <ul class="product__hover">
                            <li><a href="img/product/product-8.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Water resistant backpack</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0 <span>$ 59.0</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="products">
    <div class="ItemProdcuct">

        <ul>
            <li ng-repeat="dpr in DataProduct" class="main-product ">
                <div class="img-product ">
                    <img class="img-prd " src="~/img/4X6Mu.png" alt=" ">
                </div>
                <div class="content-product ">
                    <h3 class="content-product-h3 "> {{dpr.NameSP}}</h3>
                    <div class="content-product-deltals ">
                        <div class="price ">
                            <span class="money ">{{dpr.Price}}</span>
                        </div>
                        <button type="button " class=" btn btn-cart " ng-click="read_input() ">Thêm Vào Giỏ</button>

                    </div>
                </div>
            </li>


            <li class="main-product ">
                <div class="img-product ">
                    <img class="img-prd " src="../img/4X6Mu.png" alt=" ">
                </div>
                <div class="content-product ">
                    <h3 class="content-product-h3 ">Thời trang nam</h3>
                    <div class="content-product-deltals ">
                        <div class="price ">
                            <span class="money ">25000đ</span>
                        </div>
                        <button type="button " class=" btn btn-cart " ng-click="read_input() ">Thêm Vào Giỏ</button>

                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- <ul>
        <li class="main-product ">
            <div class="img-product ">
                <img class="img-prd " src="https://bizweb.dktcdn.net/thumb/large/100/228/168/products/sualai.jpg?v=1573720306000 " alt=" ">
            </div>
            <div class="content-product ">
                <h3 class="content-product-h3 ">Thời trang nam</h3>
                <div class="content-product-deltals ">
                    <div class="price ">
                        <span class="money ">25000đ</span>
                    </div>
                    <button type="button " class=" btn btn-cart " ng-click="read_input() ">Thêm Vào Giỏ</button>

                </div>
            </div>
        </li>
        <li class="main-product ">
            <div class="img-product ">
                <img class="img-prd " src="https://bizweb.dktcdn.net/thumb/large/100/228/168/products/isd1760-thu-am-thanh-phat-am-thanh-2.jpg?v=1568951032960 " alt=" ">
            </div>
            <div class="content-product ">
                <h3 class="content-product-h3 ">Quần âu Nam</h3>
                <div class="content-product-deltals ">
                    <div class="price ">
                        <span class="money ">115000đ</span>
                    </div>
                    <button type="button " class="btn btn-cart ">Thêm Vào Giỏ</button>
                </div>
            </div>
        </li>
        <li class="main-product ">
            <div class="img-product ">
                <img class="img-prd " src="https://bizweb.dktcdn.net/thumb/large/100/228/168/products/new-arrival-b-plus-64-bit-quad-2.jpg?v=1568277329707 " alt=" ">
            </div>
            <div class="content-product ">
                <h3 class="content-product-h3 ">Raspberry Pi 3 E14 Model B Plus B+ 2.4G/5G Bluetooth</h3>
                <div class="content-product-deltals ">
                    <div class="price ">
                        <span class="money ">1295000đ</span>
                    </div>
                    <button type="button " class="btn btn-cart ">Thêm Vào Giỏ</button>
                </div>
            </div>
        </li>
        <li class="main-product no-margin ">
            <div class="img-product ">
                <img class="img-prd " src="https://bizweb.dktcdn.net/thumb/large/100/228/168/products/module-iot-esp8266-esp-12e-ch340-3.jpg?v=1565950165000 " alt=" ">
            </div>
            <div class="content-product ">
                <h3 class="content-product-h3 ">Module IOT ESP8266 ESP-12E CH340 V3</h3>
                <div class="content-product-deltals ">
                    <div class="price ">
                        <span class="money ">85000đ</span>
                    </div>
                    <button type="button " class="btn btn-cart ">Thêm Vào Giỏ</button>
                </div>
            </div>
        </li>
        </ul> -->

    <script src="js/controller.js "></script>
</div>